body {
    font-family: "Lato", sans-serif;
    width: 1920px;
    font-size: 16px;
    font-weight: 700;
}

a,a:visited{
    text-decoration: none;
}

.navbar {
    display: flex;
    width: 1230px;
    margin: 20px 0 0 0;
    height: 52px;
    align-items: center;
}

.menu {
    margin: 0 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 428px;
    height: 26px;
}

.menu li {
    list-style: none;
    color: #424551;

}

.cta {
    display: flex;
    margin-left: 225px;
    width: 386px;
    align-items: center;
}

.account {
    display: flex;
    color: #424551;
    margin-left: 36px;

}

.profile {
    margin-right: 8px;
}

.header {
    background: -moz-linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    padding-top: 20px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#navbarButton {
    color: #ffffff;
    width: 206px;
    height: 52px;
    background: -moz-linear-gradient(55.95deg, rgb(255, 63, 58) 0%, rgb(247, 94, 5) 100%);
    border-radius: 4px;
    letter-spacing: 0.5px;
}

/* Midle part */

.midlepart {
    display: flex;
    width: 1230px;
    justify-content: space-between;
}


.header__text {
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 83px;
    color: #1E212C;
    width: 496px;
}

.header__buttons {
    display: flex;
    margin: 60px 0 0 0;
}

#about {
    width: 148px;
    height: 52px;
    color: #FF3F3A;
    border: solid 1px #FF3F3A;
    border-radius: 4px;
    padding: 0 40px;
    margin-right: 24px;
    background: local;
}

#explore {

    width: 200px;
    height: 52px;
    color: #ffffff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    padding: 0 40px;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.play {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    color: #1E212C;
}

.circle {
    width: 84px;
    height: 84px;
    background-color: rgba(255, 63, 58, 0.12);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.threeangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FF3F3A;
}
/* Statistics */

.statistics {
    width: 1230px;
    display: flex;
    gap: 66px;
    justify-content: space-between;
    align-items: center;
}

.statistics_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics_item1 {
    font-size: 46px;
    font-weight: 900;
    color: #1E212C;
    margin-right: 6px;
    line-height: 130%;
}

.statistics_item2 {
    font-weight: 400;
    color: #1E212C;
    margin-left: 6px;
    line-height: 160%;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF3F3A;
}

/* Shapes */

#circles {
    position: absolute;
    left: -12px;
    top: 756px;
}

#dots {
    position: absolute;
    width: 187px;
    height: 137px;
    left: 1733px;
    top: 749px;
}

#vector {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 733px;
    top: 758px;
}

#shapes1 {
    position: absolute;
    left: 9.27%;
    right: 85.73%;
    top: 21.2%;
    bottom: 69.91%;
}

#shapes2 {
    position: absolute;
    width: 88px;
    height: 47px;
    left: 782px;
    top: 467px;
}

#shapes3 {
    position: absolute;
    left: 1668px;
    top: 3.04%;
    bottom: 86.78%;
}

/* About */

.about {
    display: flex;
    width: 1920px;
    height: 560px;
    margin: 180px 0 0 0;
}

.about_img {
    width: 705px;
    margin: 0 0 0 345px;
}

.about_container {
    margin: 0 0 0 135px;
}

h6 {
    line-height: 150%;
    color: #1E212C;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    letter-spacing: 1px;
}

h1 {
    font-size: 46px;
    line-height: 130%;
    font-weight: 900;
    color: #1E212C;
}

.about_container_body {
    margin: 40px 0 0 0;
    width: 390px;
}

.about_container_body li {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
    margin: 6px 0;
    background: url(/image/vectror/check.svg) left 5px no-repeat;
    padding: 0 0 0 32px;
}

.about_button button {
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 44px;
    margin-top: 48px;
    width: 160px;
    height: 44px;
    padding: 0 32px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
}

#dots2 {
    position: absolute;
    width: 181.18px;
    height: 132.74px;
    left: -50.79px;
    top: 1320px;
}

#circles2 {
    position: absolute;
    width: 287px;
    height: 287px;
    left: 1798px;
    top: 1517px;
}

/* Courses */

.courses {
    margin: 180px 0 0 345px;
    width: 1240px;
}

.courses_heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.courses_heading_button button {
    border: 1px solid #FF3F3A;
    align-items: center;
    padding: 0px 40px;
    width: 202px;
    height: 52px;
    border-radius: 4px;
    color: #FF3F3A;
    line-height: 52px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
}

.courses_body {
    display: flex;
    flex-wrap: wrap;
}

.courses_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    width: 590px;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;

    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    transition-duration: 0.5s;
}

.courses_card:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.card_info {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 322px;
}

.card_info_name {
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.card_info_price {
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}

.card_info_price span {
    font-weight: 400;
    color: #787A80;
}

.card_info_direct {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #FFFFFF;
    padding: 1px 8px;
    border-radius: 4px;
    max-width: 112px;
}

#marketing {
    background-color: #03CEA4;
}

#managment {
    background-color: #5A87FC;
}

#hr {
    background-color: #F89828;
}

#design {
    background-color: #F52F6E;
}

/* Benefits */

.benefits {
    width: 1230px;
    margin: 180px 0 0 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits_heading h6 {
    text-align: center;
}

.benefits_tab {
    display: flex;
    margin: 60px 0;
}

.benefits_tab_item {
    width: 307px;
    height: 46px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9A9CA5;
}

.benefits_tab_item:first-child {
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    color: #FF3F3A;
}

.benefits_tab_item img {
    margin-right: 8px;
}

.benefits_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits_body_text {
    width: 495px;
    margin-right: 135px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
}

.benefits_body_text2 {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
    margin-top: 24px;
}

/* Events */

.events {
    margin: 120px 0;
    width: 1920px;
    height: 850px;
    background: -moz-linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events_heading {
    text-align: center;
    padding-top: 80px;
}

.events_list {
    width: 1230px;
    height: 426px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 0;
}

.events_list_item {
    height: 126px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.5s;
}

.events_list_item:hover{
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.events_list_item button {
    padding: 0 32px;
    border-radius: 4px;
    border: 1px solid #F75E05;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 44px;
    color: #FF3F3A;
    -webkit-background-clip: text;
    background-clip: text;
    transition-duration: 0.5s;
}

.events_list_item button:hover {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    cursor: auto;
    color: #FFFFFF;
}

.events_list_item_info {
    width: 758px;
}

.events_list_item_info p:first-child {
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.events_list_item_info p:last-child {
    font-weight: 400;
    line-height: 160%;
    color: #787A80;
    margin-top: 4px;
}

.events_list_item_date {
    display: flex;
    align-items: center;
}

.events_list_item_date1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 20px;
}

.events_list_item_date_time p:first-child {
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.events_list_item_date_time p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}

.events_viewall {
    display: flex;
    align-items: center;
    width: 495px;
    justify-content: space-between;
}

h3 {
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
}

.events_viewall button {
    padding: 0 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 52px;
    letter-spacing: 0.5px;
}

/* Certificate */

.certificate {
    width: 1230px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: 343px;
}

.certificate_info {
    width: 400px;
}

.certificate_info_text {
    margin: 48px 0 32px 0;
    font-weight: 400;
    line-height: 160%;
    color: #424551;
}

.certificate_info_logos {
    display: flex;
    justify-content: space-between;
}